body{
    background-color: #b2e6f3;
}

#Title{
 color: blue;
}
td{
    border: 2px solid rgb(13, 89, 252);
    height: 100px;
    width: 100px;
    font-size: 40px; 
   background-color: rgb(202, 231, 245);
   border-radius: 35%;
    
}
.t1{
    font-size: x-large;
    color: rgb(63, 63, 236);
}
marquee{
    color: rgb(39, 59, 235);
    font-size: large;
}